<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.CompanieDao">
    <select id="getCompanies" parameterType="String" resultMap="companies">
        SELECT * FROM companies WHERE companies_index=#{index}
    </select>

    <resultMap id="companies" type="Pojo.Companies">
        <id property="ucompid" column="ucompid"/>
        <result property="ucustomerid" column="ucustomerid"/>
        <result property="utype" column="utype"/>
        <result property="uaddress" column="uaddress"/>
        <result property="ucompname" column="ucompname"/>
        <result property="ucomplast" column="ucomplast"/>
        <result property="ucompbillnum" column="ucompbillnum"/>
        <result property="ucompwebsite" column="ucompwebsite"/>
        <result property="ucompaddress" column="ucompaddress"/>
    </resultMap>

    <insert id="addCompanies" parameterType="Pojo.Companies">
        INSERT INTO ct_comp (ucompid,ucustomerid,utype,uaddress,ucompname,ucompbillnum,ucompwebsite,ucompaddress)VALUES
        (#{ucompid},#{ucustomerid},#{utype},#{uaddress},#{ucompname},#{ucompbillnum},#{ucompwebsite},#{ucompaddress})
    </insert>
</mapper>